body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #EDEFE7;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  font-size: larger;
  font-weight: bolder;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  background-color: #EDEFE7;
  border-top: 1px solid #ffffff;
}

.p-5{
  background-color: #F0F8F9;
}

.past {
  background-color: #8EF9F3;
  color: white;
}

.present {
  background-color: #089b94;
  color: white;
}

.future {
  background-color: #08ABC4;
  color: white; 
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #D1D6C2;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

